@media (max-width: 1199px) {
#first {
    background: #fff;
    padding-top: 0;
}
#first .title h1 {
    font-size: 2.2em;
    padding-top: 0.5em;
}
#first .img {
    position: static;
    margin-top: 1.5em;
    max-width: 100%;
}
#why {
    background-image: linear-gradient(to left, #6d3fdf 0%, #350f73 100%);
}
#why .block-1 .container {
    padding-top: 85px;
}
#why .block-1 .text {
    padding-left: 15px;
}
#why .block-1 .text br {
    display: none;
}
#why .block-2 ul br {
   display: none;
}
#why .block-2 .container {
    padding-left: 60px;
    padding-right: 100px;
}
#why .block-1 .img {
    position: static;
}
#order {
    background-image: linear-gradient(to left, #6d3fdf 0%, #350f73 100%);
}
#order .text .arrow {
    display: none;
}
#about .text {
    margin-right: 0;
    padding-right: 20px;
    padding-left: 30px;
}
#reviews .items img {
    margin: 0 15px 30px 15px;
}
#youllget ul li br {
    display: none;
}
#how .row>*{
    padding: 0 15px !important;
}
#reviews:before, #reviews:after {
    content: none;
}
#whyresult {
    margin-bottom: 0;
}
#whyresult .items {
    position: static;
}
#whyresult .container {
    width: 100%;
}
}
@media (max-width: 991px) {
#first .title h3 {
    font-size: 1.6em;
}
#help .container {
    padding-top: 1em;
    padding-bottom: 1em;
}
#why .block-2 .container {
    padding-left: 15px;
    padding-right: 15px;
}
#order .text p span {
    font-size: 0.6em;
    margin-bottom: 1em;
}
#order .container {
    width: 100%;
    padding: 1em;
}
#about .text {
    margin-top: 0;
}
#about .text br {
    display: none;
}
#about .img {
    width: 300px;
}
#reviews .block {
    padding: 3em 1em;
}
#youllget ul li {
    flex-basis: 100%;
}
#order-2 .block {
    padding-left: 15px;
    padding-right: 15px;
}
#youllget ul {
    padding-left: 0;
}
#plan .items-2 {
    display: block !important;
}
#plan .container {
    width: 100%;
}
#plan .items-2 p {
    padding: 0;
    text-align: left;
}
#plan .items .table {
    margin-bottom: 0;
}
#plan-2 .block .week {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
#variants .items {
    font-size: 16px;
}
#how .img {
    left: -355px;
}
#warranty .block {
    padding-right: 30px;
    padding-left: 30px;
}
#whyresult .items {
    padding: 1em;
}
#plan {
    padding-top: 1em;
    padding-bottom: 1em;
}
#plan .items .table {
    display: block;
    border: none;
}
#plan .items ul {
   display: block;
}
#plan .items ul li {
   display: block;
   padding: 15px;
   margin-bottom: 15px;
   border-width: 4px;
}
#plan .items ul li .hide {
   display: block !important;
}
#plan .items ul li p {
    font-size: 1.2em;
}
#plan .items ul li .hide p {
    font-size: 16px;
}
#plan h3 img {
    max-height: 2em;
}
#plan h3 {
    margin-bottom: 0.5em;
}
#speaker .container {
    width: 100%;
    padding: 0;
}
#speaker .items {
    position: static;
    border-radius: 0;   
}
#speaker {
    padding: 1em 0 0;
    margin-bottom: 0;
}
#speaker .items .text {
    padding: 1em;
}
#speaker h2 {
    margin-bottom: 0.4em;
}
}
@media (max-width: 767px) {
	body {
    font-size: 16px;
}
	.container {
        width: 540px;
        max-width: 100%;
    }
    h2 br {
        display: none;
    }
    #first {
    padding-top: 0;
    padding-bottom: 30px;
}
    #first .title-icon img {
    margin: 0 5px;
    max-width: 30%;
    max-height: 2em;
}
#warranty .container{
    width: 100%;
}
#warranty .block .icon {
    display: none;
}
#first .title h1 {
    font-size: 1.8em;
    border-width: 4px;
    padding: 0.5em 0;
}
#first .title h4 {
    margin-bottom: .5em;
    position: relative;
    font-size: 0.95em;
}
#first .title h3 {
    font-size: 1.2em;
}
#first p br {
    display: none;
}
#first .btn .arrow {
    display: none;
}
h2 {
    font-size: 1.5em;
    background-size: 50px auto;
    text-align: center !important;
}
#foryou {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#foryou .items li img {
    float: left;
    margin-right: 1em;
    width: 50px;
    margin-bottom: 1em;
}
#foryou .items li {
    margin-bottom: 2em;
}
#order .text p {
    font-size: 1.5em;
}
#whyresult .items {
    padding: 1em;
    border-radius: 0;
}
#whyresult .container {
    padding: 0;
}
#reviews .container {
    width: 100%;
}

#reviews .block {
    margin: 0;
    padding: 1em;
}
#reviews .block .btn .arrow {
    display: none;
}
#reviews .block .icon {
    display: none;
}
#reviews .block .btn {
    margin-bottom: 0;
}
#youllget .container {
    width: 100%;
}
#youllget ul {
    text-align: left
}
#youllget ul span {
    text-align: center;
    margin: 0 10px 0 0 !important;
}
#variants {
    padding-top: 1em;
    padding-bottom: 1em;
}
#variants .items .item .bdr {
    border-width: 4px;
    margin-bottom: 1em;
}
#variants .items .item .bdr:before {
    width: calc(100% + 8px);
    left: -4px;
}
#variants .items .item .bdr ul li {padding-left: 0;padding-right: 0;}
#variants .items .item:not(:last-of-type) {
    margin-bottom: 2em;
}
#help .over {
    position: relative;
    padding: 0 30%;
}
#plan {
    padding-top: 1em;
    padding-bottom: 1em;
}
#plan .items .table {
    display: block;
}
#plan .items ul {
   display: block;
}
#plan .items ul li {
   display: block;
   padding: 15px;
   margin-bottom: 15px;
   border-width: 4px;
}
#plan .items ul li p {
    font-size: 1.2em;
}
#plan h3 img {
    max-height: 2em;
}
#plan h3 {
    margin-bottom: 0.5em;
}
#speaker {
    padding-top: 1em;
    padding-bottom: 0;
}
#speaker .items .item .photo {
    text-align: center;
    float: none;
}
#speaker .items .item .photo img {width: 120px;margin-bottom: 1em;}
#speaker .items .item .text {
    padding-left: 0;
}
#speaker .items .item .text h3 {
    font-size: 1.2em;
    text-align: center;
}
#speaker .items .item .text ul li br {
    display: none;
}
#why .block-1 .container {
    padding-top: 1em;
    padding-bottom: 0;
}
#why .block-1 .img {
    position: relative;
    max-width: 225px;
    margin: 0 auto;
}
#why .block-3 {
    margin-top: 0;
}
#why .block-1 .arrow {
    display: none;
}
#why .block-2 .container {
    padding: 1em;
}
#why .block-2 ul li {
    padding-left: 55px;
    margin-bottom: 30px;
}
#why .block-2  ul li:before {
    
transform: scale(0.75);
margin-left: -25px;
}
#why .block-2 .arrow {
    display: none;
}
#why .block-3 .container {
    width: 100%;
}
#why .block-3 .bdr {
    padding-top: 0;
    border: none;
    padding-bottom: 1em;
}
#why .block-3 .bdr ul {
    left: 0;
}
#why .block-3 .bdr ul li br {
    display: none;
}
#why .block-3 .bdr h2 {
    margin: .5em 0;
}
#why .block-2 .container {
    width: 100%;
    padding-bottom: 0;
}
#order {
    text-align: center;
}
#order input {
    height: 40px;
}
#order button {
    padding: .7em 15px;
}
#order .text .arrow {
    display: none;
}
#about .text {
    margin: 0;
    padding: 1em;
    padding-bottom: 0;
}
#about .container {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
}
#about .text:before, #about .text:after {
    content: none;
}
#about .img {
    width: 225px;
    position: relative;
    display: block;
    margin: 0 auto;
}
#whyresult {
    padding-top: 1em;
    padding-bottom: 0;
}
#whyresult .items li img {
    float: left;
    margin-right: 1em;
    width: 50px;
    margin-bottom: 1em;
}
#whyresult .items li {
    margin-bottom: 2em;
}
#reviews h2 span {
    font-size: 0.75em;
}
#reviews {
    padding-top: 1em;
    padding-bottom: 1em;
}
#reviews .items img {
    margin: 0;
    margin-bottom: 30px;
}
#order-2 {
    padding-top: 50px;
    padding-bottom: 80px;
}
#order-2 .block .icon {
    width: 120px;
    padding: 0 35px;
    margin-top: -30px;
}
#order-2 .block h3 {
    font-size: 1.4em;
    margin-bottom: 22px;
    padding-bottom: 25px;
    background-size: 50px auto;
}
#order-2 .block .btn .arrow {
    display: none;
}
#youllget {
    padding-top: 1em;
    padding-bottom: 1em;
}
#youllget ul {
    margin-top: 0;
}
#youllget ul li {
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 0.5em;
}
#plan-2 {
    padding-top: 1em;
    padding-bottom: 1em;
}
#plan-2 .block {
    padding-top: 30px;
    margin-bottom: 30px;
}
#plan-2 .block h3 {
    font-size: 1.5em;
}
#plan-2 .block .days {
    margin-bottom: 30px;
}
#plan-2 .block .days-text li .polygon {
    display: none;
}
#plan-2 .block .days-text li .text {
    padding-left: 15px;
    padding-right: 15px;
}
#plan-2 .block .week {padding: 15px;margin-top: 15px;}
#plan-2 .block .week .icon {
    float: none;
    margin: 0 auto;
    margin-bottom: 15px;
}
#plan-2 .block .week .text {
    padding-left: 0;
}
#how .img {
    display: none;
}
#how .container {
    padding-top: 1em;
    padding-bottom: 1em;
}
#format {
    padding-top: 1em;
    padding-bottom: 1em;
    background-image: linear-gradient(to left, #6d3fdf 0%, #350f73 100%);
}
#format ul li {
    padding: 15px;
}
#warranty {
    padding-top: 1em;
    padding-bottom: 1em;
}
#warranty .block .icon {
     width: 120px;
    padding: 0 35px;
    margin-top: -30px;
}
#warranty .block {
    padding-right: 15px;
    padding-left: 15px;
}
#warranty .block .sign {
    padding-right: 0;
}
#warranty .block .sign span {
    font-size: 1.4em;
}
#warranty .block .sign img {
    height: 50px;
    margin-left: 15px;
}
}
@media (max-width: 640px) {
    #foryou .items .item {
        flex-basis: 50%;
        margin-bottom: 0;
        margin-top: 1em;
    }
    #why .block-1 .text:before, #why .block-1 .text:after {
        content: none;
    }
    #why .block-3 .bdr ul li {
        flex-basis: 100%;
    }
    #whyresult .items li {
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 1em;
    }
    #youllget ul li {
        flex-basis: 100%;
    }
}
@media (max-width: 480px) {
    #foryou .items .item {
        flex-basis: 100%;
    }
    #reviews .block h3 {
        font-size: 1.35em;
    }
    #reviews .block .btn {
        padding: .7em 15px;
    }
}