/*Settings*/

/*Mixins*/

.view-products {
  margin-bottom: 1.875rem;
}

.view-products h1 {
  margin-bottom: 1.875rem;
}

.view-products .button--empty {
  width: 260px;
}

@media only screen and (min-width: 576px) {
  .view-products .button--empty {
    width: 376px;
  }
}

@media only screen and (min-width: 768px) {
  .view-products {
    margin-bottom: 4.375rem;
  }

  .view-products h1 {
    margin-bottom: 4.375rem;
  }
}