/*Settings*/

/*Mixins*/

.view-services h1 {
  margin-bottom: 1.875rem;
}

.view-services__items,
.view-services__how-we-work {
  margin-bottom: 1.875rem;
}

.view-services__why-us {
  margin-bottom: 1.875rem;
}

@media only screen and (min-width: 768px) {
  .view-services h1 {
    margin-bottom: 3.75rem;
  }

  .view-services__items,
  .view-services__how-we-work {
    margin-bottom: 2.8125rem;
  }

  .view-services__why-us {
    margin-bottom: 3.75rem;
  }
}