/*Settings*/

/*Mixins*/

.view-activity__main-info h1 {
  margin-bottom: 1.25rem;
}

.view-activity__main-info .view-text {
  margin-bottom: 1.25rem;
}

.view-activity__main-image {
  font-size: 0;
}

.view-activity__main-image img {
  border-radius: 4px;
}

.view-activity__main,
.view-activity__e-catalog,
.view-activity__gallery {
  margin-bottom: 1.875rem;
}

.view-activity__why-us,
.view-activity__discuss {
  margin-bottom: 1.875rem;
}

.view-activity__how-we-work {
  margin-bottom: 1.875rem;
}

@media only screen and (min-width: 768px) {
  .view-activity__main,
  .view-activity__e-catalog,
  .view-activity__gallery {
    margin-bottom: 4.375rem;
  }

  .view-activity__why-us,
  .view-activity__discuss {
    margin-bottom: 3.75rem;
  }

  .view-activity__how-we-work {
    margin-bottom: 2.8125rem;
  }
}