/*Settings*/

/*Mixins*/

.specialization {
  position: relative;
  z-index: 2;
}

.specialization__block {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #5F5F5F;
  margin: 10px 0;
  padding: 10px;
  font-size: 1.25rem;
  border-right: 1px solid #ffffff;
  padding-left: 10px;
}

.specialization__block--empty {
  width: 9.375rem;
}

.view-index > section {
  margin-bottom: 2.5rem;
}

.view-index > section > .title {
  margin-bottom: 2.5rem;
  text-align: center;
  line-height: 1;
}

.view-index__banner {
  background-image: url("../images/index/bg.jpg");
  padding: 8.75rem 0 3.125rem;
  position: relative;
}

.view-index__banner::before {
  content: '';
  background: #F2F2F2;
  opacity: 0.87;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.view-index__banner h1 {
  max-width: 700px;
  position: relative;
  z-index: 2;
  margin-bottom: 3.125rem;
}

.view-index__services {
  margin-top: -24px;
}

.view-index__about {
  margin-top: -24px;
  padding: 0.05px;
}

.view-index__discuss {
  margin-top: -24px;
}

.view-index__gallery {
  margin-top: -24px;
}

.view-index__news {
  margin-bottom: 2.8125rem !important;
}

@media only screen and (min-width: 576px) {
  .specialization__block {
    width: 15.625rem;
    min-height: 12.5rem;
    padding: 0 0 0 10px;
    margin: 0;
  }

  .view-index__banner::before {
    right: 29%;
  }
}

@media only screen and (min-width: 768px) {
  .view-index > section {
    margin-bottom: 3.75rem;
  }

  .view-index > section > .title {
    margin-bottom: 4.375rem;
  }

  .view-index__banner {
    padding: 10.375rem 0 5.9375rem;
  }

  .view-index__banner h1 {
    margin-bottom: 4.375rem;
  }
}