/*Settings*/

/*Settings*/

/*Mixins*/

.ui-kit {
  padding: 4.375rem 0 3.125rem;
  position: relative;
}

.ui-kit__section:not(:last-child) {
  margin-bottom: 24px;
}

.ui-kit__section-title {
  margin-bottom: 20px;
}

.ui-kit__section-element:not(:last-child) {
  margin-bottom: 16px;
}

.ui-kit__color {
  height: 50px;
  padding: 0 25px;
}

.ui-kit__color > div {
  flex-basis: 20%;
}

@media only screen and (min-width: 768px) {
  .ui-kit {
    padding: 6.25rem 0 4.375rem;
  }
}